body {
    background-color: rgb(255, 255, 255);
    font-family: 'Tangerine', cursive;
    font-size: 33px;
    color: white;
    margin: 0;
    height: 600vh;
}

#box {
    background-image: url(../img/fond.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box2 {
    position: relative;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: none;
}

#sentence2 {
    color: black;
    font-size: 500%;
    position: relative;
    z-index: 2;
    transform-origin: center center;
    justify-content: center;
    align-items: center;
    opacity: 0;

}

/*rotation des images à l'apparition*/
#paradise {
    position: absolute;
    left: 12%;
    top: 53%;
    width: 12%;
    filter: saturate(0);
}

#lyre {
    position: absolute;
    left: 32%;
    top: 74%;
    width: 12%;
    filter: saturate(0);
}

#jungle {
    position: absolute;
    right: 13%;
    top: 15%;
    width: 12%;
    filter: saturate(0);
}

#tanager {
    position: absolute;
    left: 55%;
    top: 74%;
    width: 12%;
    filter: saturate(0);
}

#redbird {
    position: absolute;
    left: 37%;
    top: 3%;
    width: 12%;
    filter: saturate(0);
}

#owl {
    position: absolute;
    left: 56%;
    top: 5%;
    width: 12%;
    filter: saturate(0);
}

#parrot {
    position: absolute;
    left: 77%;
    top: 60%;
    width: 12%;
    filter: saturate(0);
}

#quezal {
    position: absolute;
    left: 17%;
    top: 5%;
    width: 12%;
    filter: saturate(0);
}

/*positionnement des gifs*/
#big1 {
    position: absolute;
    width: 20%;
    left: 60%;
    top: 63%;
    opacity: 0;
}

#big2 {
    position: absolute;
    width: 20%;
    left: 5%;
    top: 11%;
    opacity: 0;
}

#big3 {
    position: absolute;
    width: 20%;
    left: 70%;
    top: 10%;
    opacity: 0;
}

#big4 {
    position: absolute;
    width: 20%;
    left: 18%;
    top: 63%;
    opacity: 0;
}

#medium1 {
    position: absolute;
    width: 12%;
    left: 50%;
    top: 14%;
    opacity: 0;
}

#medium2 {
    position: absolute;
    width: 12%;
    left: 2%;
    top: 45%;
    opacity: 0;
}

#medium3 {
    position: absolute;
    width: 12%;
    left: 43%;
    top: 60%;
    opacity: 0;
}

#medium4 {
    position: absolute;
    width: 12%;
    left: 34%;
    top: 25%;
    opacity: 0;
}

#small1 {
    position: absolute;
    width: 8%;
    left: 78%;
    top: 49%;
    opacity: 0;
}

#small2 {
    position: absolute;
    width: 8%;
    left: 80%;
    top: 35%;
    opacity: 0;
}

#small3 {
    position: absolute;
    width: 8%;
    left: 7%;
    top: 68%;
    opacity: 0;
}

#small4 {
    position: absolute;
    width: 8%;
    left: 37%;
    top: 7%;
    opacity: 0;
}

/*positionnement des deux boîtes de la section */
#box3 {
    position: relative;
    height: 100vh;
    display: flex;
    width: 100%;
}

#text3 {
    width: 50%;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 8vh;
    font-family: 'EB Garamond', serif;
    text-align: start;
    align-items: center;
}

#pin {
    width: 50%;
    background-color: rgb(246, 238, 193);
    color: rgb(255, 255, 255);
    background-image: url(../img/penguin1.png);
}